# Environment
ENV=dev

# -----------------------------
# MySQL Database Configuration
# -----------------------------

# Root password of database
MYSQL_ROOT_PASSWORD=example_password

# MySQL Databse name
MYSQL_DATABASE=example_db

# User of database
MYSQL_USER=example_user

# Password for user
MYSQL_PASSWORD=user_password

# Host of database
MYSQL_HOST=127.0.0.1

# Port of database
MYSQL_PORT=3306