# ========================================
# GENERAL CONFIGURATION
# ========================================
ENVIRONMENT="dev"

# ========================================
# DATABASE CONFIGURATION
# ========================================
MYSQL_ROOT_PASSWORD="ROOT_PASSWORD"
MYSQL_DATABASE="DATABSE_NAME"
MYSQL_USER="USER"
MYSQL_PASSWORD="PASSWORD"
MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"

# ========================================
# SMTP CONFIGURATION
# ========================================
EMAIL_HOST_USER="saad.rafiqul1@gmail.com"
EMAIL_HOST_PASSWORD="ntjxnsausseqljhy"
DEFAULT_FROM_EMAIL="Niyya Women <saad.rafiqul1@gmail.com>"