# Environment
ENV=dev

# -----------------------------
# MySQL Database Configuration
# -----------------------------

# Root password of database
MYSQL_ROOT_PASSWORD=example_password

# MySQL Databse name
MYSQL_DATABASE=example_db

# User of database
MYSQL_USER=example_user

# Password for user
MYSQL_PASSWORD=user_password

# ---------------------------
# Django server configuration
# ---------------------------

DB_NAME=example_db
DB_USER=example_user
DB_PASSWORD=user_password
DB_HOST=127.0.0.1
DB_PORT=3306