# ========================================
# GENERAL CONFIGURATION
# ========================================
ENVIRONMENT="dev"
DEBUG="True"

# ========================================
# DATABASE CONFIGURATION
# ========================================
MYSQL_ROOT_PASSWORD="ROOT_PASSWORD"
MYSQL_DATABASE="DATABSE_NAME"
MYSQL_USER="USER"
MYSQL_PASSWORD="PASSWORD"
MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"

# ========================================
# SMTP CONFIGURATION
# ========================================
EMAIL_HOST_USER="saad.rafiqul1@gmail.com"
EMAIL_HOST_PASSWORD="abcdefghijklmnop"
DEFAULT_FROM_EMAIL="Niyya Women <saad.rafiqul1@gmail.com>"

# ========================================
# CLOUDFLARE CREDENTIALS
# ========================================
CLOUDFLARE_BUCKET_NAME=BUCKET_NAME
CLOUDFLARE_API_TOKEN=api_token_r2
CLOUDFLARE_ACCESS_KEY_ID=r2_access_key_id
CLOUDFLARE_SECRET_ACCESS_KEY=r2_secret_access_key
CLOUDFLARE_S3_ENDPOINT_URL=https://<id>.eu.r2.cloudflarestorage.com